<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Instagram Followers</title>
  </head>
  <body>
    <nav class="navbar navbar-info bg-info">
      <span class="navbar-brand mb-0 h1 p-2">Who has more Instagram followers?</span>
    </nav>
    <p class="form-text text-muted mb-0 h1 p-2"> </p>
    <!-- <p class="form-text text-muted mb-0 h1 p-2">{{ p1 }} has {{ numm1 }} followers </p>
    <p class="form-text text-muted mb-0 h1 p-2">{{ p2 }} has {{ numm2 }} followers </p> -->

          
    <form name="data" action="." method="post">
        <div class="d-flex justify-content-center">
          <p class="mb-0 h1 p-2"><button type="submit" class="btn btn-info btn-lg" name="name1" value="{{p1}} {{p2}}">{{ p1 }}</button>
          <button type="submit" class="btn btn-info btn-lg" name="name1" value="{{p2}} {{p1}}">{{ p2 }}</button></p>
        </div>
    </form>
    
<!-- 
    {% if words!= 15 %}
      <p class="form-text text-muted"></p>
    {% else %} -->
    <!-- <p class="form-text text-muted">{{ p }} has {{ numm }} followers </p> -->
    <!-- <p class="form-text text-muted">{{ p2 }} has {{ numm2 }} followers </p> -->

    <!-- {% endif %}     -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>